body{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left top, #500163, #8f0063, #c40055, #eb1b3a, #ff5e00);
    background-repeat: no-repeat;
    background-size: cover;
}

.mid{


}


.mid__head{

}

.mid__bottom{

}

.mid__button{

}


.mid__button a{
    color: white;
    text-decoration: none;
}